.header {
	background-color: black;
	font-size: 50px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: center;
	color: greenyellow;
}

.title {
	background-color: black;
	font-size: 50px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: center;
	color: greenyellow;

}

body {
	background: #FAFAFA;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.title {
	font-size: 30px;
}