.header {
	background-color: black;
	font-size: 50px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: center;
	color: greenyellow;
}

.accountcss {
	background-color: black;
	font-size: 18px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: center;
	color: grey;
	padding: 100px;
}


.homecss {
	background: black;
	font-size: 14px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: left;
	color: grey;
	/*padding: 100px;*/
}

.erd {
	width: 100%;
}


.title {
	background-color: black;
	font-size: 50px;
	font-family: Consolas, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	text-align: center;
	color: greenyellow;

}

body {
	/*Background image courtesy of: https://www.pexels.com*/
	background-color: darkgrey;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.title {
	font-size: 30px;
}

.categorybar{
	color: grey;
	background: black
;
}

.navbarstyles{
	color: grey;
	background: black
;
}


/*------------------------------------- Links --------------------- */
a:link {
	color: grey;/* unvisited link */
}
a:visited {
	color: grey;/* visited link */
}
a:hover {
	color: grey;/* mouse over link */
}
a:active {
	color: grey;/* selected link */
}
