<phpunit>
	<testsuites>
		<testsuite name="Cartridge Coders">
			 <!--<file>CategoryTest.php</file>-->
			<!--<file>AccountTest.php</file>-->
			<!--<file>ImageTest.php</file>-->
			<!--<file>ProductCategoryTest.php</file>-->
			<!--<file>ProductTest.php</file>-->
			<file>ProductPurchaseTest.php</file>
			<!--<file>MessageTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>