/* Utilites */
.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
/* brand */
.navbar-brand {
	color: forestgreen;
}

body {
	background-image: url("../image/hd-wallpaper-29.jpg");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;}
